<div class="container main-container">
    <div class="row" text-center>

        <div *ngFor="let produto of produtos" class="col-md-4 " style="padding-bottom: 30px;">
            <div class="card h-100 text-center">

             

                <div class="card-header text-center" >
                    {{produto.nome | titlecase}}

                
                </div>


                <div class="card-body">

                    <img src="{{produto.imagem}}">

                
                <br>
                    <a class="text-decoration-none" [routerLink]="['/produto-detalhe', produto.id]"> Detalhes </a>
                   

                </div>

                <div *ngIf="produto.promocao" class="card-footer">
                    De: <small> <del> {{produto.valor | currency:'BRL':'symbol':'1.2-2':'pt'}}    </del> </small>
                      Por: {{produto.valorPromo | currency:'BRL':'symbol':'1.2-2':'pt'}} 
                    <br> <br>
                    <a href="#" class="btn btn-primary"> Comprar </a>
                </div>

                <div *ngIf="!produto.promocao" class="card-footer">
                     {{produto.valorPromo | currency:'BRL':'symbol':'1.2-2':'pt'}} 
                    <br> <br>
                    <a href="#" class="btn btn-primary"> Comprar </a>
                </div>

            </div>

        </div>


    </div>

</div>